__pycache__
*.pyc
*.pyo
*.egg-info
*.egg
dist/
build/
.env
.env.*
!.env.example
db.sqlite3
venv/
.venv/
*.log
logs/
media/
staticfiles/
backups/
.git/
.gitignore
.vscode/
.idea/
*.md
!README.md
node_modules/
